.background {
    background-image: url("../img/background.png");
    background-size: cover;
    max-width: 100%;
    height: 100vh;
    padding-top: 55px;
    position: relative;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;   
}

.header {
    background-color: rgba(0, 0, 0, 0.41);
    width: 100%;
    position: absolute;
    top: 0;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.jorney {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    font-family: "Verdana", sans-serif;
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
}

.jorney:hover {
    color: rgb(60, 184, 120);
}

.header-image {
    margin-top: 21px;
    display: -webkit-flex;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.sprite-container {
    width: 175px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.sprite-container::after {
    content: url(../img/line.png);
    padding-right: 25px;
}

.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-ic_caledar {
    width: 19px;
    height: 19px;
    background-position: -5px -5px;
}

.sprite-ic_caledar:hover {
    background-position: -34px -5px;
}

.sprite-ic_forum {
    width: 28px;
    height: 20px;
    background-position: -63px -5px;
}

.sprite-ic_forum:hover {
    background-position: -101px -5px;
}

.sprite-ic_journey {
    width: 20px;
    height: 20px;
    background-position: -139px -5px;
}

.sprite-ic_journey:hover {
    background-position: -169px -5px;
}


.header-right-text {
    width: 200px;
    margin-right: 75px;
    font-family: "Verdana", sans-serif;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    text-align: right;
}

.log,
.sign {
    text-decoration: none;
    color: rgb(60, 184, 120);
}

.log:hover,
.sign:hover,
.log-in:hover {
    text-decoration-line: underline;
}

.container {
    padding-top: 20px;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    width: 445px;
    height: 80vh;
    max-height: 585px;
    background-color: white;
    background-size: cover;
    border-radius: 10px;
}

.up-href {
    height: 18px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.squart {
    width: 18px;
    height: 18px;
    background-color: rgb(60, 184, 120);
}

.sign-up {
    margin-right: 165px;
    font-family: "Verdana", sans-serif;
    color: #434343;
    font-size: 20px;
    font-weight: bold;
}

.log-in {
    margin-right: 59px;
    text-decoration: none;
    color: rgb(60, 184, 120);
}

.container-buttons {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.button-facebook {
    width: 155px;
    height: 45px;
    border-radius: 3px;
    background-color: #305db8;
    padding-left: 20px;
    padding-right: 20px;
    outline: none;

}

.button-item {
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
}

.button-logo-fb {
    width: 10px;
    height: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.facebook {
    font-family: "Verdana", sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
}

.facebook::before {
    content: '|';
    color: rgb(132, 132, 132);
    font-size: 28px;
    font-weight: 50;
    padding-right: 5px;
    opacity: 0.3;
}

.button-google {
    text-align: left;
    padding-left: 10px;
    padding-right: 30px;
    width: 155px;
    height: 45px;
    border-radius: 3px;
    background-color: #df4a32;
    outline: none;
}

.button-logo-google {
    width: 25px;
    height: 16px;
    margin-top: 5px;
}


.google {
    font-family: "Verdana", sans-serif;
    color: #ffffff;
    font-size: 16px;
    line-height: 21px;
}

.google::before {
    content: '|';
    color: rgb(132, 132, 132);
    font-size: 28px;
    font-weight: 50;
    padding-right: 10px;
    opacity: 0.3;
}

.alternative {
    margin-top: 11px;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
}

.vertical-line {
    margin-top: 8px;
    width: 135px;
    height: 1px;
    border-bottom: solid 1px #848484;
}

.or {
    margin-left: 20px;
    margin-right: 20px;
}

.item {
    margin: 5px 60px;
    padding-left: 30px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.21);
    width: 295px;
    height: 46px;
    outline: none;
}

.name::placeholder {
    color: gray;
}

.create-account {
    width: 330px;
    height: 46px;
    margin-left: 60px;
    margin-top: 11px;
    border-radius: 3px;
    background-color: rgb(60, 184, 120);
    font-family: "Verdana", sans-serif;
    color: #ffffff;
    font-size: 16px;
    outline: none;
}

button:hover {
    cursor: pointer;
}

.checkbox {
    width: 77%;
    margin-left: 14%;
    margin-top: 11px;
    font-family: "Verdana", sans-serif;
    color: #434343;
    font-size: 14px;
}

.agree {
    color: rgb(60, 184, 120);
}

.checkbox input {
    color: rgb(60, 184, 120);
}
